*{
    margin: 0px;
    padding: 0px;
}

td{
    width:100px;
    height: 100px;
  background-image: linear-gradient(red,blue);
   font-size: 40px;
   text-align: center;
   border-radius: 10px ;
}
table{
    
    margin: 20px auto;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
}
body{
    background-image: linear-gradient(yellow, pink);
    width: 100%;
    height: 100vh;
}

